@model PostDetailsViewModel

<article class="article">
    <div class="article-title">
        <div class="row">
            <h6 class="col-6">
                <a asp-controller="Categories" asp-action="Specify" asp-route-categoryId="@this.Model.CategoryId">@this.Model.Category.Name</a>
            </h6>
            <div style="color: #20247b" class="font-weight-bold text-right col-6">
                Upvotes :
                <h4 id="votesCount" style="color: #20247b" class="font-weight-bold text-right"><u>@this.Model.VotesCount</u></h4>
            </div>
            
        </div>
        <h2>@this.Model.Title</h2>
        <div class="media">
            <div class="avatar">
                <img src="@this.Model.Author.AvatarImgUrl" title="" alt="">
            </div>
            <div class="media-body">
                <label>@this.Model.Author</label>
                <div class="nav tag-cloud">
                    Score <a class="ml-1 disabled">@this.Model.Author.AccountScore</a>
                </div>
                <span>@this.Model.CreatedOn.ToString("dd/MM/yyyy HH:mm")</span>
            </div>
        </div>
    </div>
    <div class="article-content">
        @this.Model.Content
    </div>
    <div class="nav tag-cloud">
        <a class="disabled">@this.Model.Type</a>
    </div>
</article>