@model List<PostListingViewModel>

@{
    this.ViewData["Title"] = "Forum";
}


<section class="py-5">
    <div class="container row">
        <img class="img-fluid" src="~/assets/img/forum-head.png" alt="Photo" />
        <h3 class="text-dark">
            If you want to specify your readings, you can see all the categories
            <a asp-controller="Categories" asp-action="All">>>here<<</a>
        </h3>
        <a asp-controller="Posts" asp-action="Create" class="btn btn-outline-dark font-weight-bold mb-3 text-md-center col-md-3">+ Add new Post +</a>

        <label></label>
        <input class="ml-2 form-control text-md-center col-md-3" placeholder="Search...">
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead class="th">
                    <tr>
                        <th width="10%" scope="col">Author</th>
                        <th width="35%" scope="col">Topic</th>
                        <th scope="col">Comments</th>
                        <th width="10%">Type</th>
                        <th width="10%" scope="col">Created on</th>
                        <th class="t" width="15%">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td height="40%">
                                <div class="media">
                                    <div class="avatar">
                                        <img src="@post.Author.AvatarImgUrl" title="" alt="">
                                    </div>
                                </div>
                                    <p>@post.Author.UserName</p>
                            </td>
                            <td height="40%">@post.Title</td>
                            <td height="40%">@post.CommentsCount</td>
                            <td height="40%">
                                <button class="btn disabled btn-outline-info font-weight-bold">@post.Type</button>
                            </td>
                            <td scope="col">@post.CreatedOn.ToString("dd/MM/yyyy HH:mm")</td>
                            <td height="40%">
                                <div class="button-holder">
                                    <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.Id" class="btn btn-info text-uppercase">Read More</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>