@model PostDetailsViewModel

@{
    this.ViewData["Title"] = $"Post Details";
}

<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-title">
                        <h6>
                            <a asp-controller="Categories" asp-action="Specify" asp-route-categoryId="@Model.CategoryId">@Model.Category</a>
                        </h6>
                        <h2>@Model.Title</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>@Model.Author</label>
                                <span>@Model.CreatedOn</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        @Model.Content
                    </div>
                    <div class="nav tag-cloud">
                        <a class="disabled">@Model.Type</a>
                    </div>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a 
                                    asp-controller="Posts"
                                    asp-action="Edit"
                                    asp-route-postId="@Model.Id"
                                    class="btn btn-outline-primary btn-sm rounded-0 mb-2" type="submit" data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="fa fa-edit"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <button 
                                    asp-controller="Posts"
                                    asp-action="Delete"
                                    asp-route-postId="@Model.Id"
                                    class="btn btn-outline-danger btn-sm rounded-0 mb-2" type="submit" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </li>
                    </ul>
                </article>
                <div class="contact-form article-comment">
                    <div class="row">
                        <h4 class="col-9">Comments</h4>
                    </div>
                    @if (Model.Comments.Count() == 0)
                    {
                        <h5>No comments yet..</h5>
                    }

                    @foreach (var comment in Model.Comments)
                    {
                        <div class="container com-bg">
                            <div class="row">
                                <h4 class="col-9">@comment.Author</h4>
                                <span class="col-3 text-secondary">@comment.CreatedOn</span>
                            </div>
                            <p>@comment.Content</p>
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button class="btn btn-outline-primary btn-sm rounded-0 mb-2" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                </li>
                                <li class="list-inline-item">
                                    <button asp-controller="Comments"
                                            asp-action="Delete"
                                            class="btn btn-outline-danger btn-sm rounded-0 mb-2" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                </li>
                            </ul>
                        </div>
                        <hr class="my-2" />
                    }
                </div>
                <div class="contact-form article-comment mt-3 text-center">
                    <h4>Leave a comment</h4>
                    <form method="post">
                        <input type="hidden" name="PostId" value="@this.Model.Id" />
                        <textarea name="Content" class="feedback-input" placeholder="Comment"></textarea>
                        <div class="tag-cloud">
                            <button asp-controller="Comments"
                                    asp-action="Create" class="btn borderButton col-6 font-weight-bold font-italic">Add comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>