@model List<ListCategoriesViewModel>
@{
    this.ViewData["Title"] = "Categories";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-fluid text-center mt-3" alt="Photo" src="~/assets/img/categories.png" />
            <h1 class="display-4 font-weight-bold text-black" style="font-family: 'Times New Roman', Times, serif"><u>Choose your forum!</u></h1>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="container category">
        <div class="row">
            <ul class="card-wrapper-image">

                @foreach (var category in Model)
                {
                    <li class="card-img row">
                        <img class="img-card" src='@category.ImageUrl' alt=''>
                        <div class="">
                            <h3 class="ml-2">@category.Name</h3>
                            <p class="ml-2">@category.Description</p>
                        </div>
                        <div>
                            <p class="ml-2"><strong>Posts in this category: @category.PostsCount</strong></p>
                        </div>
                        <div class="">
                            <a style="background-image: url('../assets/img/background.jpg')" asp-controller="Categories" asp-action="Specify" asp-route-categoryId="@category.Id"
                               class="btn text-light ml-2">Proceed to Forum</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>