@model List<ListCategoriesViewModel>
@{
    this.ViewData["Title"] = "Categories";
}

<div class="container" style="background-image: url('assets/img/stars.jpg')">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-fluid text-center" alt="Photo" src="~/assets/img/categories.png" />
            <h1 class="display-4 text-dark border btn-outline-light">Select the forum that you want to read </h1>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="container category">
        <div class="row">
            <ul class="card-wrapper-image">

                @foreach (var category in Model)
                {
                <li class="card-img">
                    <img class="img-card" src='@category.ImageUrl' alt=''>
                    <h3 class="ml-2">@category.Name</h3>
                    <p class="ml-2">@category.Description</p>
                    <p class="ml-2"><strong>Posts in this category: @category.PostsCount</strong></p>
                    <a style="background-image: url('../assets/img/background.jpg')" asp-controller="Categories" asp-action="Specify" asp-route-categoryId="@category.Id" class="btn text-light ml-2">Proceed to Forum</a>
                </li>
                }
            </ul>
        </div>
        <div class="mb-5"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <form class="" asp-area="" asp-controller="Categories" asp-action="Add">
                    <button type="submit" class="btn-outline-dark form-control nav-link btn btn-light text-ligh font-weight-bold">Create New Category</button>
                </form>
            </div>
        </div>
    </div>
</div>