@model Astronomyfi.Web.ViewModels.Categories.CategoryPostsQueryModel
@{
    this.ViewData["Title"] = $"{Model.Category.Name} Forum";
}

<section class="py-5 row">
    <div class="row">
        <div class="col-2 img-fluid">
            <img class="border" src="@Model.Category.ImageUrl" alt="Alternate Text" />
        </div>
        <div class="col-8">
            <h3>@Model.Category.Name</h3>
            <h4>@Model.Category.Description</h4>
        </div>
    </div>
    <div class="text-center offset-5">
        <a asp-controller="Posts" asp-action="Create"
           class="btn page-btn text-light font-weight-bold mb-3 mt-3 text-md-center"> Add new Post </a>
        <div class="row">
            <div class="col-md-12">
                @if (!this.User.Identity.IsAuthenticated)
                {
                    <p>You have to <a href="/Identity/Account/Login">Log in </a>to post in the Forum !</p>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (Model.Posts.Count() == 0)
            {
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">No topics in this category yet!</h1>
                        <hr class="my-4">
                        <p class="lead">Be the first person to create one by clicking on the <span><u>"Add new Post"</u></span> button!</p>
                    </div>
                </div>
            }
            else
            {
                <table class="table table-hover">
                    <thead class="th">
                        <tr>
                            <th width="10%" scope="col">Author</th>
                            <th width="35%" scope="col">Topic</th>
                            <th scope="col">Comments</th>
                            <th width="10%">Type</th>
                            <th width="10%" scope="col">Created on</th>
                            <th class="" width="15%">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td height="40%">
                                    <div class="media">
                                        <div class="avatar">
                                            <img src="@post.Author.AvatarImgUrl" title="" alt="Avatar image">
                                        </div>
                                    </div>
                                </td>
                                <td height="40%">@post.Title</td>
                                <td height="40%">@post.CommentsCount</td>
                                <td height="40%">
                                    <button class="btn disabled btn-outline-info font-weight-bold">@post.Type</button>
                                </td>
                                <td scope="col">@post.CreatedOn.ToString("dd/MM/yyyy HH:mm")</td>
                                <td height="40%">
                                    <div class="button-holder">
                                        <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.Id" class="btn btn-info text-uppercase">Read More</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                var previousPage = Model.CurrentPage - 1;

                if (previousPage < 1)
                {
                    previousPage = 1;
                }

                var maxPage = Math.Ceiling((double)Model.TotalPosts / CategoryPostsQueryModel.PostsPerPage);

                <div class="offset-lg-4 col-lg-2">
                    <a class="btn page-btn font-weight-bold text-light @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                       asp-controller="Categories"
                       asp-action="Specify"
                       asp-route-categoryId="@Model.Category.Id"
                       asp-route-currentPage="@previousPage">&lt;&lt; Page</a>
                </div>

                var buttonDisable = Model.CurrentPage == maxPage || !Model.Posts.Any();

                <div class="col-lg-2">
                    <a class="btn page-btn font-weight-bold text-light float-sm-right @(buttonDisable ? "disabled" : string.Empty)"
                       asp-controller="Categories"
                       asp-action="Specify"
                       asp-route-categoryId="@Model.Category.Id"
                       asp-route-currentPage="@(Model.CurrentPage + 1)">Page >></a>
                </div>
            }
        </div>
    </div>
</section>