@model Astronomyfi.Web.ViewModels.Categories.CategorySpecifyViewModel
@{
    this.ViewData["Title"] = $"{Model.Name} Forum";
}

<section class="py-5">
    <div class="row">
        <div class="col-2 img-fluid">
            <img class="border" src="@Model.ImageUrl" alt="Alternate Text" />
        </div>
        <div class="col-8">
            <h3>@Model.Name</h3>
            <h4>@Model.Description</h4>
        </div>
    </div>
    <div class="container row mt-lg-5">
        <a asp-controller="Posts" asp-action="Create" class="btn btn-outline-dark font-weight-bold mb-3 text-md-center ">+ Add new Post +</a>

        <label></label>
        <input class="ml-2 form-control text-md-center col-md-3" placeholder="Search...">
    </div>
    <div class="container">
        <div class="row">
            @if (Model.Posts.Count() == 0)
            {
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">No topics in this category yet!</h1>
                        <hr class="my-4">
                        <p class="lead">Be the first person to create one by clicking on the <span><u>"Add new Post"</u></span> button!</p>
                    </div>
                </div>
            }
            else
            {
                <table class="table table-hover">
                    <thead class="th">
                        <tr>
                            <th width="10%" scope="col">Author</th>
                            <th width="35%" scope="col">Topic</th>
                            <th scope="col">Comments</th>
                            <th width="10%">Type</th>
                            <th width="10%" scope="col">Created on</th>
                            <th class="" width="15%">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td height="40%">
                                    <div class="media">
                                        <div class="avatar">
                                            <img src="@post.Author.AvatarImgUrl" title="" alt="Avatar image">
                                        </div>
                                    </div>
                                </td>
                                <td height="40%">@post.Title</td>
                                <td height="40%">@post.CommentsCount</td>
                                <td height="40%">
                                    <button class="btn disabled btn-outline-info font-weight-bold">@post.Type</button>
                                </td>
                                <td scope="col">@post.CreatedOn.ToString("dd/MM/yyyy HH:mm")</td>
                                <td height="40%">
                                    <div class="button-holder">
                                        <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.Id" class="btn btn-info text-uppercase">Read More</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</section>